<a href="https://colab.research.google.com/github/HongSeongMo/Airbnb/blob/main/learning_plus_training1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
 #path 하위에 dir_name 디렉토리 생성
def make_directory(path, dir_name):
    if dir_name not in os.listdir(path):
        os.mkdir(f'{path}/{dir_name}')

In [ ]:
drive_path = 'drive/MyDrive'

#letuin 디렉토리 생성
make_directory(drive_path, 'letuin')

# letuin 디렉토리 내 airbnb 생성
make_directory(f'{drive_path}/letuin','airbnb')

# airbnb 디렉토리 내 data 생성
make_directory(f'{drive_path}/letuin/airbnb','data')

# airbnb 디렉토리 내 model 생성
make_directory(f'{drive_path}/letuin/airbnb','model')

구글드라이브에 데이터 다운받기


*   샘플데이터:2021-10-10/런던 에어비앤비 데이터
*   데이터 종류

   *listings:객실 목록

   *calendar:날짜별 판매정보

In [ ]:
import requests

In [6]:
# url설정
url_listings = 'http://data.insideairbnb.com/united-kingdom/england/london/2023-12-10/data/listings.csv.gz'
url_calendar = 'http://data.insideairbnb.com/united-kingdom/england/london/2023-12-10/data/calendar.csv.gz'

# 파일명 설정
file_listings = 'listings_london_202312.csv.gz'
file_calendar = 'calendar_london_202312.csv.gz'

# path 설정
path = f'{drive_path}/letuin/airbnb/data'

In [7]:
# download listing data
with open(f'{path}/{file_listings}',"wb") as f:
    r = requests.get(url_listings)
    f.write(r.content)

# download calendar data
with open(f'{path}/{file_calendar}',"wb") as f:
    r = requests.get(url_calendar)
    f.write(r.content)

다운받은 데이터 확인


*   스키마:
*   listings:에어비앤비 객실 메타


*   calendar:날짜별 판매정보

In [9]:
# import pandas
import pandas as pd

# pandas 세팅
# display:소수점 자리수 세팅
pd.options.display.float_format = '{:.2f}'.format

listing 데이터

In [10]:
listing_df = pd.read_csv(f'{path}/{file_listings}', compression='gzip')

In [11]:
listing_df.head(5)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,198258,https://www.airbnb.com/rooms/198258,20231210055232,2023-12-10,city scrape,Rental unit in Barking · ★4.74 · 1 bedroom · 1...,NaN,"I live in Barking town centre, at one time the...",https://a0.muscache.com/pictures/airflow/Hosti...,967537,...,4.88,4.45,4.68,NaN,f,1,0,1,0,0.27
1,33332,https://www.airbnb.com/rooms/33332,20231210055232,2023-12-10,city scrape,"Home in St Margaret's, Isleworth · ★4.40 · 1 ...",NaN,Peaceful and friendly.,https://a0.muscache.com/pictures/miso/Hosting-...,144444,...,4.53,4.68,4.26,NaN,f,2,0,2,0,0.12
2,42010,https://www.airbnb.com/rooms/42010,20231210055232,2023-12-10,city scrape,Home in East Finchley · ★4.88 · 1 bedroom · 1 ...,NaN,We have a unique cinema called the Phoenix whi...,https://a0.muscache.com/pictures/airflow/Hosti...,157884,...,4.95,4.73,4.87,NaN,t,2,0,2,0,3.45
3,284603,https://www.airbnb.com/rooms/284603,20231210055232,2023-12-11,previous scrape,Rental unit in London · ★4.83 · 1 bedroom · 1 ...,NaN,NaN,https://a0.muscache.com/pictures/3246231/8e9b1...,1481851,...,5.00,5.00,4.83,NaN,f,1,1,0,0,0.04
4,89870,https://www.airbnb.com/rooms/89870,20231210055232,2023-12-10,city scrape,Rental unit in London · ★4.65 · 1 bedroom · 1 ...,NaN,Finsbury Park is a friendly melting pot commun...,https://a0.muscache.com/pictures/miso/Hosting-...,54730,...,4.91,4.73,4.50,NaN,f,3,2,1,0,0.89